.options {
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.button {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button:hover,
button:focus {
  background-color: #00bfff;
}
